    * {
        margin: 0;
        padding: 0;
    }

    .absolute {
        position: absolute;
        display: flex;
        gap: 20px;
        padding: 5px;
        margin-left: 10px;
        margin-top: 5px;
    }

    .btn {
        padding: 7px;
    }

    #app {
        display: flex;
        /* 靠右布局 */

    }

    /* “加载中”提示框样式 */
    #loading-indicator {
        position: fixed;
        /* Fixed position */
        top: 50%;
        /* Center vertically */
        left: 50%;
        /* Center horizontally */
        transform: translate(-50%, -50%);
        /* Compensate for the dimensions of the element */
        padding: 20px;
        font-size: 2em;
        /* Larger text */
        color: white;
        /* White text color */
        background-color: rgba(0, 0, 0, 0.75);
        /* Semi-transparent black background */
        border-radius: 10px;
        z-index: 1000;
        /* Make sure it's on top of other elements */
    }